<div class="container">
  <h1><%= @question.title %></h1>
  <p><%= @question.content %></p>
  <%= render partial: 'voting/voting', locals: {:element => @question, :type => "question"} %>
  <h4>Question comments: </h4>
  <% @question.comments.each do |comment| %>
    <%= render partial: "comments/show_comment", locals: {comment: comment} %>
  <% end %>
  
  <p> tags:
  <% @question.tags.each do |tag| %>
     <%= link_to tag.tag_name, tag_path(tag) %>
  <% end %> </p>

  <h4>Add a comment to this question</h4>
  <%= render partial: "comments/new_comment", locals: {commentable: @question } %>

  <h3>Add an answer:</h3>
  <%= render partial: "answers/new", locals: {answer: @answer, question: @question} %>

  <h3>Current answers: </h3>
    <% @question.answers.each do |answer| %>
        <%= render partial: "answers/show_answer", locals: {answer: answer, comment: @comment} %>
    <% end %>
</div>
