<div class="container">

  <%= form_for @user do |f| %>
    <%= f.text_field :user_name, placeholder: "Username" %>
    <%= f.text_field :real_name, placeholder: "Real name" %>
    <%= f.email_field :email, placeholder: "Email"  %>
    <%= f.text_field :age, placeholder: "About"  %>
    <%= f.url_field :website, placeholder: "Website"  %>
    <%= f.text_field :location, placeholder: "Location"  %>
    <%= f.text_area :about, placeholder: "About"  %>
    <%= f.submit "Save Changes"   %>

  <% end %>

</div>
