<div class="container">

  <%= form_for @user do |f| %>
    <%= label_tag :user_name %>
    <%= f.text_field :user_name, placeholder: "Username" %>
    <%= label_tag :email %>
    <%= f.email_field :email, placeholder: "Email"  %>
    <%= label_tag :password %>
    <%= f.password_field :password, placeholder: "Password"  %>
    <%= label_tag :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    <%= f.submit "Sign up"   %>
  <% end %>

</div>
