<div class="container">

  <div class='user'>
    <span class='user_photo'><img src="http://www.gravatar.com/avatar/<%= @user.gravatar_hash %>?s=200&d=identicon" alt='Avatar'></span>
    <span class='user_name'>User name:<%= @user.user_name %></span>
    <span class='user_real_name'>Real name:<%= @user.real_name %></span>
    <span class='user_email'>Email:<%= @user.email %></span>
    <span class='user_age'>Age:<%= @user.age %></span>
    <span class='user_website'>Website:<%= @user.website %></span>
    <span class='user_location'>Location:<%= @user.location %></span>
    <span class='user_about'>About:<%= @user.about %></span>
    <span class='user_edit'><%= link_to "Edit", edit_user_path(@user) %></span>
    <span class='user_delete'><%= link_to "Delete", user_path(@user), html_options = {method: :delete, confirm: "Are you sure you want to delete #{@user.user_name}?"} %></span>
  </div>



</div>

